* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.top-bar {
  background-color: #ffffff;
  padding: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: 100%;
  z-index: 200;
}

.sticky {
  position: fixed;
  top: 0;
  padding-top: 2px;
}

.nav-list {
  display: flex;
}

.nav-item {
  list-style: none;
  margin: 2rem;
  font-size: 2rem;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100vw; */
  height: 60vw;
  margin-top: 4rem;
}

.hero-title {
  font-size: 6rem;
  margin: 3rem;
}

.hero-sub-text {
  font-size: 2rem;
}

.fade-out {
  opacity: 0;
}

.fade-transition {
  transition: opacity 2s;
}

.slider-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20rem;
}

.carousel {
  width: 30rem;
  margin: auto;
  /*   position: absolute; */
  /*   top: 18%;
  left: 30%; */
}

.slide img {
  height: 20rem;
  width: 30rem;
}

.slider-container {
  display: flex;
  height: 20rem;
  width: 30rem;
}

.slide-content-box {
  width: 70%;
  margin: 1rem 1rem;
}

.slide-1 {
  position: absolute;
}

.slide-2 {
  position: absolute;
  transform: translateX(45rem);
}
.slide-3 {
  position: absolute;
  transform: translateX(90rem);
}
.slide-4 {
  position: absolute;
  transform: translateX(135rem);
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.btn {
  display: flex;
  font-size: 3rem;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #ffffff;
  border: none;
}

.btn:hover {
  cursor: pointer;
  color: #a0a0a0;

  /* animation: hoverBtn 2.5s ease-in-out;
  animation-timing-function: cubic-bezier(0.5, 0.6, 0.7, 0.5); */
  /* transition: all; */
}

.btn:active {
  background-color: antiquewhite;
  transform: translateY(0.25rem);
}
.btn::after {
  background-color: aqua;
}

/* @keyframes hoverBtn {
  0% {
    transform: translateY(0);
  }
  /* 50% {
    transform: translateY(-0.75rem);
  } */

/* 100% {
    transform: translateY(0.75rem);
  }
} */

/* Scrolling  Sliding*/
.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.slide-up {
  animation: slide-up 1s ease-in-out both;
}

/*   ///Transitions// */
@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
