* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  margin: auto;
}

.nav-list {
  display: flex;
}

.nav-item {
  list-style: none;
  margin: 2rem;
  font-size: 2rem;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100vw; */
  height: 60vw;
}

.hero-title {
  font-size: 6rem;
  margin: 3rem;
}

.hero-sub-text {
  font-size: 2rem;
}

.slider-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel {
  width: 20rem;
  margin: auto;
  /*   position: absolute; */
  overflow: hidden;
  /*   top: 18%;
  left: 30%; */
}

.slider-container {
  display: flex;
  height: 15rem;
  width: 20rem;
}

.slide-1 {
  position: absolute;
}

.slide-2 {
  position: absolute;
  transform: translateX(40rem);
}
.slide-3 {
  position: absolute;
  transform: translateX(80rem);
}
.slide-4 {
  position: absolute;
  transform: translateX(120rem);
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.btn-left {
  /* position: absolute; */
  display: flex;
  /* bottom: 2rem;
    left: 3rem; */

  font-size: 3rem;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  color: black;
}

.btn-right {
  /* position: absolute; */
  display: flex;
  /* bottom: 2rem;
    left: 9rem; */

  font-size: 3rem;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
}
